*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: #18191A;
}
#head-container{
    background-color: #242526;
    height: 60px;
}
#chat-box-container{
    bottom: 0;
    right: 200px;
    background: #18191A;
    width: 300px;
    height: 350px;
    position: fixed;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: 1px solid #242526;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#chat-box-container #chat-box-header{
    height: 15%;
    background-color: #242526;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
}
#exit-chat-box-btn{
    color: #25C0E1;
}
#chat-box-content-container{
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 2%;
    height: 100%;
}
#chat-box-content-container img{
    width: 35px;
    height: 35px;
    border-radius: 100%;
}
#chat-box-content-container .new-message{
    display: flex;
    align-items: center;
    max-width: 100%;
    width: 100%;
}

#chat-box-content-container .new-message .message{
    margin: 5%;
    padding: 7px 7% 7px 7%;
    border-radius: 20px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
}
.user-message {
    justify-content: flex-end;
}
.user-message .message{
    background: #0084FF;
}
.message{
    color: white;
}
.bot-message .message{
    background: #3E4042;

}
.bot-message .chat-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    background: rgb(102, 102, 102);
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.8);
    border: 1px solid white;
    transition: all;
    transition-duration: .3s;
}
.chat-button:hover{
    transform: translateY(-2px);
    box-shadow: 1px 4px 3px 0px rgba(0,0,0,0.8);
}
#chat-box-input-container{
    height: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #18191A;
    padding: 10px;
}
#chat-box-input-container input{
    width: 70%;
    height: 80%;
    padding: 2%;
    border-radius: 20px;
    padding-left: 5%;
}
#input-message{
    background: #242526;
    color: white;
    border-radius: 20%;
}

@media only screen and (max-width: 720px) {
    #body-container{
        display: flex;
        justify-content: center;
    }
    #chat-box-container{
        bottom: 0;
        right: inherit;
    }
  }